body{
    margin: 0px;
    background-color: black;
}
h1{
    color: aliceblue;
}
p{
    color: aliceblue;
}
.nav{
    overflow: hidden;
    background-color: aliceblue;
}
a{
    font-family:'Times New Roman', Times, serif;
    font-size: 17px;
    font-weight: 500;
    text-decoration: none;
    color: black;
    padding: 20px;
}
a:hover{
    background-color: black;
    color: aliceblue;
    font-size: 18px;
}
.active{
    font-family:'Times New Roman', Times, serif;
    font-size: 17px;
    font-weight: 500;
    color: black;
    padding: 20px;
    background-color:aqua;
}
.active:hover{
    background-color: green;
    color: black;
    font-size: 18px;
}
.icon{
    display: none;
}
@media screen and (max-width: 600px) {
    a:not(:first-child) {display: none;}
    a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .nav.responsive {position: relative;}
    .nav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .nav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }